.about_wrap {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	padding-top: 90px;
	padding-bottom: 60px;

	background-image: url(/assets/content/about/about_bg.jpg);
	background-size: cover;
	background-position: center;
}

.about_wrap_inside {
	position: relative;
	display: block;
	width: 100%;
	max-width: 800px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

	margin: 0 auto;
	

	background-color: rgba(36,36,36,0.95);
}

.video_wrap {
	position: relative;
	display: block;
	height: 0;
	padding-bottom: 56.25%;
	/*padding-top: 25px;*/

	border: 2px solid black;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.about_content {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 40px;
	padding: 20px;

	color: white;
	font-family: 'Pro-Light';
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.5px;
}

.about_title {
	position: relative;
	display: inline-block;
	width: 100%;
	font-size: 0;
}

.about_line {
	display: inline-block;
	border-color: @orange; 
	width: 30%;
}

.about_title_text {
	display: inline-block;
	width: 30%;
	margin: 5%;
	padding: 10px;
	border: 1px solid white;
}


.clients_secion {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 20px;

	text-align: center;
}

.clients_grid {

}

.clients_item {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 25%;
	height: auto;
	padding: 10px;
	float: left;

	img {
		width: 100%;
		opacity: 0.8;
	}

	a:hover img {
		opacity: 1;
	}

}


@media only screen and (max-width: 765px) {
	.clients_item {
		width: 33.3%;
	}

	.about_line { 
		width: 15%;
	}

	.about_title_text {
		width: 60%;
		margin: 5%;
	}
}


@media only screen and (max-width: 400px) {
	.clients_item {
		width: 50%;
	}
}





