* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.no_scroll {
	overflow:hidden;
	position: absolute;
	width: 100%;
	height: 100%;
}

.team_wrap {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 80px 2.5px 50px 2.5px;

	background: white;
}

.item_wrap {
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 100%;
}


.people_btn {
	cursor: pointer;
}

.team_btn {
	position: absolute;
	display: block;
	float: left;
	width: 100%;
	height: 40px;
	bottom: 0;

	background-color: black;

	color: white;
	font-size: 30px;
}



/*  Copy block  */
.copy { 
	padding: 60px 30px;

	background-size: cover;
	background-color: @orange;
}

.team_copy {
	display: inline-block;

	color: white;
	font-size: 18px;
	font-family: 'Pro-Light', 'sans-serif';
	line-height: 25px;
}







/* ---- Light box -----*/

.team_lighbox {
	height: 75%;
}

.team_info {
	display: block;
	padding: 40px;
}

.team_info_name {
	margin-bottom: 10px;
}

.team_info_subtitle {
	display: inline-block;
}

.team_info_photo {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 0 40px 40px 40px;

	img {
		width: 100%;
	}
}

.team_info_copy {
	display: inline-block;
	float: left;
	width: 50%;
	padding: 0 40px 40px 20px;
}

.close_btn {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	right: 0;
	margin: 20px;

	background-image: url(/assets/img/close_btn.svg);
	background-size: 100%;

	transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;

	&:hover {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	}
}




@media only screen and (max-width: 1025px) {
	
}

@media only screen and (max-width: 765px) {

	/* light box */
	.team_lighbox {
		height: 100%;
	}

	.team_info {
		padding: 30px;
	}

	.team_info_photo {
		width: 100%;
		padding: 0 30px 30px 30px;
	}

	.team_info_copy {
		width: 100%;
		padding: 0 30px 30px 30px;
	}
}

@media only screen and (max-width: 450px) {
	
}
