.work_wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 80px;
	padding-bottom: 50px;
	background: white;
}

.work__row {
	display: block;
	position: relative;
	width: 100%;
	margin-top: 5px; 
	padding-left: 5px;
	/*padding-right: 40px;*/

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.work__cell {
	display: block;
	position: relative;
	overflow: hidden;
	width: 20%;
	padding-right: 5px;
	padding-bottom: 5px;

	float: left;

	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;

	&__container {
		display: block;
		position: relative;
		overflow: hidden;

		cursor: pointer;


		&:before {
			content:'';
			display: block;
			position: relative;
			width: 100%;
			padding-top: 100%;
		}

		&:hover {
			.work__background {
				transform: scale(1.06);

				-webkit-filter: grayscale(0%);
				filter: grayscale(0%);
			}

			.work__title {
				transform: translateY(-150px);
			}
		}
	}

	

	img {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	@media only screen and (max-width: 1500px) {
		width: 25%;
	}

	@media only screen and (max-width: 1000px) {
		width: 33.333%;
	}

	@media only screen and (max-width: 765px) {
		width: 50%;
	}
}



.work__title {
	position: absolute;
	display: block;
	width: 100%;
	bottom: -150px;
	padding: 20px;

	text-align: right;

	background-color: rgba(0,0,0,0.8);
	z-index: 1;

	transition: transform 0.2s ease; 
}

.client_name {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;

	font-size: 18px;
	font-family: 'Pro-SemiBold',sans-serif;
	line-height: 1;
	color: white;

	z-index: 1;
}

.project_location {
	position: relative;
	display: block;
	margin: 0 auto;

	font-size: 18px;
	font-family: 'Pro-light',sans-serif;
	line-height: 1;
	color: white;

	opacity: 0.8;
}

.work__background {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	background-size: cover;
	background-position: center;

	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	/*filter: url(#greyscale);*/
	filter: gray;

	transform-origin: 50% 50%;

	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}


@media only screen and (max-width: 450px) {
	.client_name {
		font-size: 13px;
	}
	.project_location {
		font-size: 13px;
	}
}




/*---- Archive section ----*/

.archived {
	display: none;
	overflow: hidden;
	height: 0px;
}

.load_more {
	position: relative;
	display: inline-flex;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}

.archive_btn {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 10px 20px;
	border: 2px solid @orange;
	background-color: black;

	color: white;
	font-family: 'Pro-Regular',sans-serif;
	font-size: 15px;
	text-decoration: none;

	&::before {
		content: '';
		position: absolute;
		display: inline-flex;
		width: 0;
		height: 100%;
		left: 0;
		top: 0;
		background: @orange;
		-webkit-transition: all .2s;
		transition: all .2s;
	}

	span {
		position: relative;
		-webkit-transition: all .2s;
		transition: all .2s;
		z-index: 0;
	}

	&:hover {
	}

	&:hover::before {
		width: 100%;
	}
}

.no_btn {
	display: none;
}

.touch {

	.work__title {
		transform: translateY(-150px);
	}

}